on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5.0.1

    - uses: actions/setup-go@v6.0.0
      with:
        go-version-file: 'go.mod'

    - run: go build -v ./...

    - run: go test -v ./...
